@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/*------------------------------------*/

/*---resets---*/
/*page margins*/
* {
    margin: 0;
    padding: 0;
}

/*list bullets*/
li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/*------------------------------------*/

/*---hero and header section---*/

/*background*/
.section-top {
    box-sizing: border-box;
    background: #1f2937;
    padding: 20px 300px 130px 300px;
}

/*navigation and hero*/
.navigation,
.navigation .links,
.hero,
.hero-img {
    display: flex;
}

.navigation .logo,
.hero-title,
.hero-left button,
.hero-img {
    color: #f9faf8;
}

.hero-left p,
.navigation .links .link a,
.hero-img {
    font-size: 18px;
}

.hero-left p,
.navigation .links .link a {
    color: #e5e7eb;
}

.hero-left,
.hero-img {
    flex-grow: 1;
    flex-shrink: 1;
}

.navigation .logo {
    font-size: 24px;
    font-weight: 700;
}

.navigation {
    justify-content: space-between;
    margin-bottom: 140px;
}

.navigation .links {
    gap: 28px;
}

.hero {
    gap: 50px;
    flex-wrap: wrap;
}

.hero-title {
    font-size: 48px;
    font-weight: 900;
}

.hero-left {
    flex-basis: 440px;
}

.hero-left button {
    background-color: #3882f6;
    font-size: 16px;
    font-weight: bold;
    margin-top: 16px;
    padding: 8px 26px;
    border: none;
    border-radius: 8px;
}

.hero-img {
    height: 240px;
    background-color: #6c727d;
    flex-basis: 700px;
    /*extra*/
    justify-content: center;
    align-items: center;
}

/*------------------------------------*/

/*---information section---*/

.info-header-section,
.info-header-content,
.info-block {
    display: flex;
    flex-wrap: wrap;
}

.info-header-section,
.info-block {
    flex-direction: column;
    align-items: center;
}


/*base*/
.info-header-section {
    box-sizing: border-box;
    margin-top: 60px;
}

/*title*/
#information-header-txt {
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 60px;
}

/*content*/
.info-img {
    width: 175px;
    height: 175px;
    border: 4px solid #3882f6;
    border-radius: 16px;
}

.info-header-content {
    gap: 75px;
}

.info-block {
    width: 175px;
}

.info-block p {
    margin-top: 10px;
    text-align: center;
    font-size: 18px;
    color:#646D79;
}

/*------------------------------------*/

/*---quote section---*/

.quote-section {
    box-sizing: border-box;
    margin-top: 120px;
    background-color: #e5e7eb;
    padding: 140px 525px 100px 500px;
}

.quote-text {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

.quote-author {
    font-size: 24px;
    font-weight: 900;
    text-align: right;
    padding-right: 40px;
    color: #1F2937;
}

/*------------------------------------*/

/*---sign up section---*/

.product-signup-section {
    box-sizing: border-box;
    padding: 100px 400px;
}

.content-signup-wrapper {
    padding: 60px 120px;
    background-color: #3B82F6;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
}

.signup-text {
    color: #f9faf8;
}

.signup-text h3 {
    font-size: 24px;
}

.signup-text p {
    font-size: 18px;
}

.content-signup-wrapper button {
    background-color: #3B82F6;
    font-size: 16px;
    font-weight: 700;
    color: #f9faf8;
    margin-top: 16px;
    padding: 10px 36px;
    border: 2px solid #f9faf8;
    border-radius: 8px;
}

/*------------------------------------*/

/*---footer---*/

.footer {
    display: flex;
    justify-content: center;
    padding: 50px 0 50px 0;
    background-color: #1f2937;
    color: #f9faf8;
    font-size: 18px;
}

/*------------------------------------*/